.searchPage {
    width: 100%;
    & .titlePage {

        & h2 {
            margin: 20px 0;
        }
    }

    & .resultFound {
        margin: 20px 0;
    }

    & .selectTag {
        display: flex;
        justify-content: space-between;
        width: 100%;
        & select {
            margin: 15px;
            padding: 8px;
            border-radius: 19px;
            border: 1px solid rgb(224, 223, 223);
        }
    }
    & .products {
        margin: 30px auto;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(257px, 1fr));
        grid-gap: 40px 35px;
    }

    
}


